@import url('https://fonts.googleapis.com/css?family=Lato|Supermercado+One');

body{ font-family:Lato;
    font-size:18px;
    background-image: ./img/map-bg.jpg;
    }

/* Use the 'Lato' font family at 18px throughout the body of the document, and cover the background with the './img/map-bg.jpg' image. */
nav {font-family: sans-serif; font-size: 10px;}

#main {width: 900px;
       margin: 10px auto;}
       
   h1 {font-family:Supermercado One;
       font-size: 45px;
       color:#5d4037; }
/* Use the 'Supermercado One' font at 45px (colored #5d4037) for the restaurant name. */

/* Set the separator between the columns (the "column-rule") to be 2px dashed rosybrown. */
#menu {columns: 400px 2; 
       column-gap: 100px;
       column-rule-style:dotted;
       column-rule-color:rosybrown;
       column-rule-width:2px; 
           }

section  {margin-bottom: 50px;}
                          

#Starters{
    text-transform: lowercase;
     color: #6d4c41;
}

#soupssalads{
    text-transform: lowercase;
     color: #6d4c41;
}

#entrees{
    text-transform: lowercase;
     color: #6d4c41;
}

#desserts{
    text-transform: lowercase;
     color: #6d4c41;
}



/* Show each of the section headings of the menu (e.g. "Starters") in small caps, colored #6d4c41. */
h2 {margin: 0;}

/* Make the name of each menu item appear in bold in a 20px size. */
dt {font-size:20px;
   font-weight:bold;
   }



dd {margin: 0 0 12px 0; display: flex;}

.details {order: 1;}

/* Show the price of each item in a large font, in the color named 'firebrick' */
.price {order: 2; 
padding-left: 10px;
text-transform: uppercase;
color:firebrick;}

/* Draw a 2px dashed rosybrown border around the address/footer */
address/footer {padding: 10px;
                border:dotted;
                border-width:2px;
                border-top-color:rosybrown;
                border-right-color:rosybrown;
                border-bottom-color: rosybrown;
                border-left-color:rosybrown;
         
          }

